/*FIGURES*/

.hero {
	background-image: url("https://image.ibb.co/b0GY5R/rawpixel_com_323215.jpg");
}

.sun {
	background-image: url("https://image.ibb.co/bWOhn6/sun_fireball_solar_flare_sunlight_87611.jpg");
}

.moon {
	background-image: url("https://image.ibb.co/ciCTum/full_moon_moon_bright_sky_47367.jpg");
}

.star {
	background-image: url("https://image.ibb.co/fhDCLR/pexels_photo_239573.jpg");
}

.cloud {
	background-image: url("https://image.ibb.co/nnNTum/pexels_photo_531767.jpg");
}

.horizon {
	background-image: url("https://image.ibb.co/kD2Hn6/pexels_photo_66997.jpg");
}

.mountain {
	background-image: url("https://image.ibb.co/e43px6/pexels_photo_540518.jpg");
}

.spring {
	background-image: url("https://image.ibb.co/kjLxjm/pexels_photo_102896.jpg");
}

.summer {
	background-image: url("https://image.ibb.co/gPQ2H6/sunflower_sun_summer_yellow.jpg");
}

.autumn {
	background-image: url("https://image.ibb.co/e5kPVR/fall_autumn_red_season.jpg");
}
.winter {
	background-image: url("https://image.ibb.co/ccJBAR/pexels_photo_235621.jpg");
}

.text {
	background-image: url("http://via.placeholder.com/900x800");
}
