/*FIGURES*/

.hero {
	background-image: url("images/rawpixel_com_323215.jpg");
}

.autumn {
	background-image: url("images/fall_autumn_red_season.jpg");
}

.moon {
	background-image: url("images/full_moon_moon_bright_sky_47367.jpg");
}

.star {
	background-image: url("images/pexels_photo_239573.jpg");
}

.cloud {
	background-image: url("images/pexels_photo_531767.jpg");
}

.horizon {
	background-image: url("images/pexels_photo_66997.jpg");
}

.mountain {
	background-image: url("images/pexels_photo_540518.jpg");
}

.spring {
	background-image: url("images/pexels_photo_102896.jpg");
}

.text {
	background-image: url("http://via.placeholder.com/900x800");
}
