* {
    box-sizing: border-box;
}

/*SASS VARIABLES*/

$light-blue: #00c7e8;
$elegant-gray: #313332;

/*CLEARFIX*/

.row::before,
.row::after {
	content:"";
	display: table ;
	clear: both;
 }

/*GRID*/

[class*="col-"]{
	float: left;
	min-height: 1px;
	padding: 12px;
}

/*BODY*/

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;

	section>.container {
		margin: 50px auto;
		text-align: center;
	}

	.container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	h1 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 30px;
	}
}

/*HEADER*/

header {
	background-color: $elegant-gray;

	nav {

		img {
			padding: 10px 0;
		}

		ul {
			margin: 0 auto;
			padding: 0;
			list-style-type: none;
			float: right;


			li {
				display: inline-block;

				a {
					display: block;
					line-height: 50px;
					padding: 0 20px;
					color: white;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						background-color: #585b59;
						color: $light-blue;
					}
				}
			}
		}
	}
}

/*HERO*/

.hero {
	width: 100%;
	height: 450px;
	text-align: center;
	background-image: url(https://image.ibb.co/b0GY5R/rawpixel_com_323215.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;

	.slogan {
		background-color: rgba(0, 0, 0, .4);
		max-width: 800px;
		float: right;
		position: relative;
		top: 150px;

		h1 {
			font-size: 50px;
			color: #fff;
			margin-right: 20px;
			text-align: left;
			padding-left: 20px;
			padding-right: 70px;

			span {
				font-weight: 300;
			}
		}
	}
}

/*BENEFITS*/

.benefits {

	.fa {
		font-size: 60px;
		color: black;
	}

	p {
		color: grey;
	}

	.col:hover > h4 {
		color: $light-blue;
	}

	.col:hover >.fa {
		color: $light-blue;
	}
}


/*GALLERY*/

.projects p {
	color: grey;
}

.gallery {
	width: 100%;
	margin: 0;

	[class*="col-"] {
		min-height: 200px;
	}

	[class*="col-"]:hover .layer {
		display: inline-block;
	}

	.layer {
		display: none;
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.box {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%);

		i {
			font-size: 25px;
			padding: 5px;
			color: white;
		}
	}
}


.col-m-2, .gallery .col-m-4 {
	min-height: 200px;
	background-position: center;
	background-size: cover;
	padding: 0;
	margin: 0;
	position: relative;
}


.sun {
	background-image: url(https://image.ibb.co/bWOhn6/sun_fireball_solar_flare_sunlight_87611.jpg);
}

.moon {
	background-image: url(https://image.ibb.co/ciCTum/full_moon_moon_bright_sky_47367.jpg);
}

.star {
	background-image: url(https://image.ibb.co/fhDCLR/pexels_photo_239573.jpg);
}

.cloud {
	background-image: url(https://image.ibb.co/nnNTum/pexels_photo_531767.jpg);
}

.horizon {
	background-image: url(https://image.ibb.co/kD2Hn6/pexels_photo_66997.jpg);
}

.mountain {
	background-image: url(https://image.ibb.co/e43px6/pexels_photo_540518.jpg);
}

.spring {
	background-image: url(https://image.ibb.co/kjLxjm/pexels_photo_102896.jpg);
}

.summer {
	background-image: url(https://image.ibb.co/gPQ2H6/sunflower_sun_summer_yellow.jpg);
}

.autumn {
	background-image: url(https://image.ibb.co/e5kPVR/fall_autumn_red_season.jpg);
}
.winter {
	background-image: url(https://image.ibb.co/ccJBAR/pexels_photo_235621.jpg);
}

/*TEAM*/

.team {

	.worker {
		position: relative;

		img {
			border-radius: 50%;
			width: 200px;
			height: 200px;
		}

		.layer {
			@extend img;
			display: none;
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;

			p {
				line-height: 200px;
				margin: 0;
				padding: 0;
				color: white;
			}
		}
	}

	[class*="col-"]:hover .layer {
		display: inline-block;
	}
}

/*TEXT*/

.text {
	background-image: url("http://via.placeholder.com/900x800");
	background-position: center;
	color: white;

	h1 {
		text-align: left;
		margin-bottom: 0px;
	}

	p {
		text-align: left;
	}

	.extra {
		font-style: italic;
	}
}


/*NUMBERS*/

.numbers {

	h1 {
		font-weight: 700;
	}

	p {
		text-transform: uppercase;
		font-weight: bold;
		color: $light-blue;
	}
}


/*FOOTER*/

footer {
	background-color: $elegant-gray;
	color: white;

	.container {
		margin-bottom: 0;

		.info {
			text-align: left;

			h1:after {
				content: "  -------";
				letter-spacing: -3px;
				font-weight: 100;
			}

			.inner-row {

				[class*="col-"] {
					padding: 0;
				}

				p {
					margin-top: 0;
				}

				.data {

					p {
						font-weight: bold;
					}
				}
			}

			i {
				font-size: 30px;
				padding: 10px;
				&:hover {
					color: white;
					background-color: $light-blue;
				}
			}
		}

		.copy {
			background-color: #252726;
			text-align: center;
		}
	}
}


/*MEDIA*/


@media screen and (max-width: 870px) {

	.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

	header {
		overflow: auto;
		nav {
			display: block;
			float: none;
			text-align: center;
			max-width: 320px;
			margin-right: auto;
			margin-left: auto;
			width: 100%;

			ul {
				margin-right: 0;
				float: none;

				li {
					width: 100%;
				}
			}
		}
	}


	.slogan {
		width: 100%;

		h1 {
			padding-left: 0;
			padding-right: 0;
			margin-right: 0;
		}
	}

	.layer {
		display: inline-block;
		background: none;

		.box {
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 15%;

			i {
				padding: 8px;
			}
		}
	}

	.numbers div .col {
		padding: 0;
	}

	.numbers .col:nth-child(3) {
		clear: left;
	}

	.info, .text h1 {
		text-align: center;
	}

	.copy .col, .text .col-m-12, .text .col-m-4 {
		float: none;
	}

}

@media screen and (max-width: 560px) {
	.col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

}


@media (min-width: 871px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
