/*GRID*/
[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 12px; }

@media (min-width: 871px) {
  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media screen and (max-width: 870px) {
  .col-s-1 {
    width: 8.33%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
@media screen and (max-width: 560px) {
  .col-xs-1 {
    width: 8.33%; }

  .col-xs-2 {
    width: 16.66%; }

  .col-xs-3 {
    width: 25%; }

  .col-xs-4 {
    width: 33.33%; }

  .col-xs-5 {
    width: 41.66%; }

  .col-xs-6 {
    width: 50%; }

  .col-xs-7 {
    width: 58.33%; }

  .col-xs-8 {
    width: 66.66%; }

  .col-xs-9 {
    width: 75%; }

  .col-xs-10 {
    width: 83.33%; }

  .col-xs-11 {
    width: 91.66%; }

  .col-xs-12 {
    width: 100%; } }
/*CLEARFIX*/
.row::before,
.row::after {
  content: "";
  display: table;
  clear: both; }

/*FIGURES*/
.hero {
  background-image: url("https://image.ibb.co/b0GY5R/rawpixel_com_323215.jpg"); }

.autumn {
  background-image: url("https://image.ibb.co/e5kPVR/fall_autumn_red_season.jpg"); }

.moon {
  background-image: url("https://image.ibb.co/ciCTum/full_moon_moon_bright_sky_47367.jpg"); }

.star {
  background-image: url("https://image.ibb.co/fhDCLR/pexels_photo_239573.jpg"); }

.cloud {
  background-image: url("https://image.ibb.co/nnNTum/pexels_photo_531767.jpg"); }

.horizon {
  background-image: url("https://image.ibb.co/kD2Hn6/pexels_photo_66997.jpg"); }

.mountain {
  background-image: url("https://image.ibb.co/e43px6/pexels_photo_540518.jpg"); }

.spring {
  background-image: url("https://image.ibb.co/kjLxjm/pexels_photo_102896.jpg"); }

.text {
  background-image: url("http://via.placeholder.com/900x800"); }

* {
  box-sizing: border-box; }

/*SASS VARIABLES*/
/*BODY*/
body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }
  body section > .container {
    margin: 50px auto;
    text-align: center; }
  body .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }
  body h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px; }

/*HEADER*/
header {
  background-color: #313332; }
  @media screen and (max-width: 870px) {
    header {
      overflow: auto; } }
  @media screen and (max-width: 750px) {
    header nav {
      display: block;
      float: none;
      text-align: center;
      max-width: 320px;
      margin-right: auto;
      margin-left: auto;
      width: 100%; } }
  header nav img, header nav .team .worker .layer, .team .worker header nav .layer {
    padding: 10px 0; }
  header nav ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    float: right; }
    @media screen and (max-width: 750px) {
      header nav ul {
        margin-right: 0;
        float: none; } }
  header nav li {
    display: inline-block; }
    header nav li a {
      display: block;
      line-height: 50px;
      padding: 0 20px;
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
      header nav li a:hover {
        background-color: #585b59;
        color: #00c7e8; }

/*HERO*/
.hero {
  width: 100%;
  height: 460px;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  .hero .slogan {
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 800px;
    float: right;
    position: relative;
    top: 150px; }
    @media screen and (max-width: 870px) {
      .hero .slogan {
        width: 100%;
        margin-bottom: 1%; } }
    .hero .slogan h1 {
      font-size: 50px;
      color: #fff;
      margin-right: 20px;
      text-align: left;
      padding-left: 20px;
      padding-right: 70px; }
      @media screen and (max-width: 870px) {
        .hero .slogan h1 {
          padding-left: 0;
          padding-right: 0;
          margin-right: 0; } }
      .hero .slogan h1 span {
        font-weight: 300; }

/*BENEFITS*/
.benefits .fa {
  font-size: 60px;
  color: black; }
.benefits p {
  color: grey; }
.benefits .col:hover > h4 {
  color: #00c7e8; }
.benefits .col:hover > .fa {
  color: #00c7e8; }

/*GALLERY*/
.projects p {
  color: grey; }

.gallery {
  width: 100%;
  margin: 0; }
  .gallery [class*="col-"] {
    min-height: 200px;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative; }
  .gallery [class*="col-"]:hover .layer {
    display: inline-block; }
  .gallery .layer {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); }
    @media screen and (max-width: 870px) {
      .gallery .layer {
        display: inline-block; } }
  .gallery .box {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .gallery .box i {
      font-size: 25px;
      padding: 5px;
      color: white; }
      @media screen and (max-width: 870px) {
        .gallery .box i {
          padding: 8px; } }

/*TEAM*/
.team .worker {
  position: relative; }
  .team .worker img, .team .worker .layer {
    border-radius: 50%;
    width: 200px;
    height: 200px; }
  .team .worker .layer {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
    @media screen and (max-width: 870px) {
      .team .worker .layer {
        display: inline-block; } }
    .team .worker .layer p {
      line-height: 200px;
      margin: 0;
      padding: 0;
      color: white; }
.team [class*="col-"]:hover .layer {
  display: inline-block; }

/*TEXT*/
.text {
  background-position: center;
  color: white; }
  .text h1 {
    text-align: left;
    margin-bottom: 0px; }
    @media screen and (max-width: 870px) {
      .text h1 {
        text-align: center; } }
  .text p {
    text-align: left; }
  .text .extra {
    font-style: italic; }
  @media screen and (max-width: 870px) {
    .text .col-m-12, .text .text .col-m-4 {
      float: none; } }

/*NUMBERS*/
.numbers h1 {
  font-weight: 700; }
.numbers p {
  text-transform: uppercase;
  font-weight: bold;
  color: #00c7e8; }
@media screen and (max-width: 870px) {
  .numbers div .col {
    padding: 0; } }
@media screen and (max-width: 870px) {
  .numbers .numbers .col:nth-child(3) {
    clear: left; } }

/*FOOTER*/
footer {
  background-color: #313332;
  color: white; }
  footer .container {
    margin-bottom: 0; }
  footer .info {
    text-align: left; }
    @media screen and (max-width: 870px) {
      footer .info {
        text-align: center; } }
    footer .info h1:after {
      content: "  -------";
      letter-spacing: -3px;
      font-weight: 100; }
    footer .info .inner-row [class*="col-"] {
      padding: 0; }
    footer .info .inner-row p {
      margin-top: 0; }
    footer .info .inner-row .data p {
      font-weight: bold; }
    footer .info i {
      font-size: 30px;
      padding: 10px; }
      footer .info i:hover {
        color: white;
        background-color: #00c7e8; }
  footer .copy {
    background-color: #252726;
    text-align: center; }
    @media screen and (max-width: 870px) {
      footer .copy .col {
        float: none; } }

/*# sourceMappingURL=style.css.map */
