@import "grid";
@import "figures";

* {
    box-sizing: border-box;
}

/*SASS VARIABLES*/
$primary: #313332;
$secondary: #00c7e8;
$font: "Open Sans", sans-serif;
$font-light: white;

/*BODY*/

body {
	margin: 0;
	font-family: $font;

	section>.container {
		margin: 50px auto;
		text-align: center;
	}

	.container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}

	h1 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 30px;
	}
}

/*HEADER*/

header {
	background-color: $primary;
	@media screen and (max-width: 870px) {
		overflow: auto;
	}

	nav {
		@media screen and (max-width: 870px) {
			display: block;
			float: none;
			text-align: center;
			max-width: 320px;
			margin-right: auto;
			margin-left: auto;
			width: 100%;
		}

		img {
			padding: 10px 0;
		}

		ul {
			margin: 0 auto;
			padding: 0;
			list-style-type: none;
			float: right;
			@media screen and (max-width: 870px) {
				margin-right: 0;
				float: none;
			}
		}

		li {
			display: inline-block;
			@media screen and (max-width: 870px) {
				width: 100%;
			}

			a {
				display: block;
				line-height: 50px;
				padding: 0 20px;
				color: $font-light;
				text-decoration: none;
				text-transform: uppercase;
				&:hover {
					background-color: #585b59;
					color: $secondary;
				}
			}
		}
	}
}

/*HERO*/

.hero {
	width: 100%;
	height: 460px;
	text-align: center;
	background-size: cover;
	background-position: center;
	overflow: hidden;

	.slogan {
		background-color: rgba(0, 0, 0, .4);
		max-width: 800px;
		float: right;
		position: relative;
		top: 150px;
		@media screen and (max-width: 870px) {
			width: 100%;
			margin-bottom: 1%;
		}

		h1 {
			font-size: 50px;
			color: #fff;
			margin-right: 20px;
			text-align: left;
			padding-left: 20px;
			padding-right: 70px;
			@media screen and (max-width: 870px) {
				padding-left: 0;
				padding-right: 0;
				margin-right: 0;
			}

			span {
				font-weight: 300;
			}
		}
	}
}

/*BENEFITS*/

.benefits {

	.fa {
		font-size: 60px;
		color: black;
	}

	p {
		color: grey;
	}

	.col:hover > h4 {
		color: $secondary;
	}

	.col:hover >.fa {
		color: $secondary;
	}
}


/*GALLERY*/

.projects p {
	color: grey;
}

.gallery {
	width: 100%;
	margin: 0;

	[class*="col-"] {
		min-height: 200px;
		background-position: center;
		background-size: cover;
		padding: 0;
		margin: 0;
		position: relative;

	}

	[class*="col-"]:hover .layer {
		display: inline-block;
	}

	.layer {
		display: none;
		height: 100%;
		width: 100%;
		position: absolute;
		background-color: rgba(0, 0, 0, 0.5);
		@media screen and (max-width: 870px) {
			display: inline-block;
			background: none;
		}
	}

	.box {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media screen and (max-width: 870px) {
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 15%;
		}

		i {
			font-size: 25px;
			padding: 5px;
			color: $font-light;
			@media screen and (max-width: 870px) {
				padding: 8px;
			}
		}
	}
}

/*TEAM*/

.team {

	.worker {
		position: relative;

		img {
			border-radius: 50%;
			width: 200px;
			height: 200px;
		}

		.layer {
			@extend img;
			display: none;
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			@media screen and (max-width: 870px) {
				display: inline-block;
				background: none;
			}

			p {
				line-height: 200px;
				margin: 0;
				padding: 0;
				color: $font-light;
			}
		}
	}

	[class*="col-"]:hover .layer {
		display: inline-block;
	}
}

/*TEXT*/

.text {
	background-position: center;
	color: $font-light;

	h1 {
		text-align: left;
		margin-bottom: 0px;
		@media screen and (max-width: 870px) {
			text-align: center;
		}
	}

	p {
		text-align: left;
	}

	.extra {
		font-style: italic;
	}

	.col-m-12, .text .col-m-4 {
		@media screen and (max-width: 870px) {
			float: none;
		}
	}
}


/*NUMBERS*/

.numbers {

	h1 {
		font-weight: 700;
	}

	p {
		text-transform: uppercase;
		font-weight: bold;
		color: $secondary;
	}

	div .col {
		@media screen and (max-width: 870px) {
			padding: 0;
		}
	}

	.numbers .col:nth-child(3)  {
		@media screen and (max-width: 870px) {
			clear: left;
		}
	}
}


/*FOOTER*/

footer {
	background-color: $primary;
	color: $font-light;

	.container {
		margin-bottom: 0;
	}

	.info {
		text-align: left;
		@media screen and (max-width: 870px) {
			text-align: center;
		}

		h1:after {
			content: "  -------";
			letter-spacing: -3px;
			font-weight: 100;
		}

		.inner-row {

			[class*="col-"] {
				padding: 0;
			}

			p {
				margin-top: 0;
			}

			.data {

				p {
					font-weight: bold;
				}
			}
		}

		i {
			font-size: 30px;
			padding: 10px;
			&:hover {
				color: $font-light;
				background-color: $secondary;
			}
		}
	}

	.copy {
		background-color: #252726;
		text-align: center;

		.col {
			@media screen and (max-width: 870px) {
				float: none;
			}
		}
	}
}
